/* $accentColor = #3eaf7c // 主题色 */

#app .navbar .home-link span:before{
    display: inline-block;
    content:'';
    height: 2.2rem;
    min-width: 2.2rem;
    margin-right: 0.8rem;
    vertical-align: top;
    background:url('../img/favicon.png') no-repeat;
    background-size:100% 100%;
    /* vertical-align: middle; */
}
.page .page-title{
	max-width:840px !important;
}
.bilibili-player-video-recommend {
	display:none !important;
}
.bilibili-player-video-recommend-container {
	display:none !important;
}
/* 放开评论
.valine-wrapper {
	display:none !important;
}
*/